.moviesList {
  display: grid;
  max-width: calc(100vw - 48px);
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.list {
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.list:hover {
  box-shadow: #5c5b43 0px 0px 8px 6px, 0 60px 80px #d6d2c7;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  color: #5c5b43;
}

.img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}

.movieName {
  font-size: 13px;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
